{% load static %}
{% load md5url %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54F48DR');</script>
    <!-- End Google Tag Manager -->

    <!-- OGP設定(基本設定+note) -->
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        <title> {% block title %}MARBLE(マーブル){% endblock %}｜マーベル作品が集まる情報サイト</title>
    <meta property="og:title" content="MARBLE(マーブル)" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://marble-cinema.com" />
    <meta property="og:image" content="https://www.marble-cinema.com/static/images/marble-ogp.png" /> 
    <meta property="og:site_name" content="MARBLE(マーブル)" />
    <meta property="og:description" content="マーベル作品が集まる情報サイト" />
    <meta name="note:card" content="summary_large_image">

    <!-- OGP設定(ツイッター) -->
    <!-- <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@taibon38" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="MARBLE(マーブル)｜マーベル映画が集まる情報サイト" />
    <meta property="og:description" content="{% block MovieTitle %}{% endblock %}" />
    <meta property="og:image" content="{% block image %}https://marble-cinema.com{% endblock %}" />  -->

    <!-- コンテンツ -->
    <meta charset="UTF-8">
    <link rel="icon"  href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% md5url 'app/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v9.0&appId=1265845113778425&autoLogAppEvents=1" nonce="EsAvtUL5"></script>
    <!-- Bootstrap用CSSの読み込み -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- タブ切り替えに必要なjavascript下記3つ -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    
    <script type="text/javascript" src="{% static 'app/js/style.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <!-- fontawesome利用に必要なソース -->
    <script src="https://kit.fontawesome.com/a6e2a71596.js" crossorigin="anonymous"></script>

    <!-- スクロール用 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
    <!-- Bootstrap5の読み込み -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- 保存用 -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="{% static 'app/js/jquery-3.5.1.min.js' %}"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

</head>  

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54F48DR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="sticky-top">
        <div class="fixed-top">
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <a class="text-white" href="{% url 'app:index' %}"><img src="{% static 'images/marble_logo-b.png' %}" class="logo"></a>

                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="Navber">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item my-auto mr-1">
                            <a class="header-link" href="{% url 'app:how' %}">MARBLE(マーブル)とは</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link" href="/#character">キャラクターで探す</a>
                        </li>

                        <li class="nav-item my-auto">
                            <a class="nav-link" href="/#category">楽しみ方で探す</a>
                        </li>

                        <li class="nav-item my-auto ml-4">
                            <!-- フリーワード検索欄 -->
                            <form method="GET" action="{% url 'app:index' %}"　class="form-inline ">
                                <div class="input-group input-group-sm">
                                    <input type="search" name="keyword" class="form-control" placeholder="フリーワードで探す" aria-label="フリーワードで探す">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    
                        <li class="nav-item ml-3 my-auto">
                            <div>
                                {% if request.user.is_authenticated %}
                                        
                                    <li class="nav-item dropdown">
                                        <button type="button" class="btn text-dark dropdown-toggle btn-smw" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                                            <img src="{{ user.profile_icon_url }}" class="profile_icon">
                                            マイページ
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="{% url 'app:mypage' %}">マイページ</a>
                                            <a class="dropdown-item" href="{% url 'app:profile' %}">プロフィール</a>
                                            <a class="dropdown-item" href="{% url 'app:contact' %}">お問い合わせ</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'app:logout' %}">ログアウト</a>
                                        </div>
                                    </li>
                                {% else %}
                                    <a class="btn btn-warning my-auto btn-sm" href="{% url 'app:login' %}">ログイン</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div><!-- /.fixed-top -->
    </header>
    
<div class="wrapper mt-5">
    <div class="container pt-4 mx-auto w-auto body " >

        {% block body %}

            {% block content %}
            {% endblock %}
        
        {% endblock %}
    </div>
    <!-- PC用広告 -->
    <div class="text-center mb-2 d-none d-md-block">
        <iframe onclick="dataLayer.push({'variable_name': 'variable_value'});" src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=48&l=ur1&category=primevideochannel&banner=0ARGP2M0NT03XRJ749G2&f=ifr&linkID=d34beef267545aadfd1d4f07c9d57c34&t=papapp0731-22&tracking_id=papapp0731-22" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>    
    </div>
    <!-- スマホ用広告 -->
    <div class="text-center mb-2 d-md-none">
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=primevideo&banner=00RY09E9W2VT2G4BXRG2&f=ifr&linkID=be99ff195392b13ada2f3b86fe33c047&t=papapp0731-22&tracking_id=papapp0731-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
    </div>
    <div. class="footerWrap">
        <footer class="footer bg-dark">
            <div class="container">
                <p class="text-white text-center mt-3">&copy;2021 MARBLE</p>
            </div>
        </footer>
    </div.>
</div>

</body>
</html>
