{% extends 'app/base.html' %}

{% block title %}
キャラクター紹介:{{character.name}}
{% endblock %}

{% block content %}

<div class="containar mt-3 mx-auto card-body bg-white  py-3 px-3">
    <div class="row">
        <div class="left col-lg-3">
                <img src={{character.character_icon.url}} class="character_icon_left">
                {{movie_character.character}}
                <div>
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'app:toggle_fav_characters' %}" method="post" class="my-2">{% csrf_token %}
                        <input type="hidden" name="character_id" value="{{ character.id }}">
                        {% if character in user.faved_characters.all %}
                            <input type="submit" name="submit" class="fas btn btn-block btn-light text-secondary submit_button" value="&#xf6fa; 好きから外す" /> 
                        {% else %}
                            <input type="submit" name="submit" class="fas btn btn-block btn-success submit_button" value="&#xf6fa; 好き認定" />
                            <p class="font-small mt-1">マイページの「<i class="fas fa-mask mr-1"></i>好きなキャラ」に登録されます</p>
                            <!-- <input type="submit" name="submit" class="fav fav-tag fav-tag--ver" value="好き認定" /><i class="fas fa-star"></i></input> -->
                        {% endif %}
                    </form>
                    {% else %}
                        <a class="fas btn btn-success submit_button mt-2 " href="{% url 'app:login' %}"><i class="fas fa-mask mr-1"></i>好き認定</a>
                        <p class="font-small mt-1">
                            会員登録(無料)でマイページの「<i class="fas fa-mask mr-1"></i>好きなキャラ」に登録できます
                        </p>
                    {% endif %}
                </div>
        </div> <!-- left -->

        <!-- <div class="col col-md-offset-1 col-md-3">
            
        </div> -->
        
        <div class="mb-3 main col">
            <h5 class="main_title">{{character.name}}</h5>
            <div class="character_title mb-3">
                ー{{character.title}} 
            </div>
            <div class="sumally">
                {{character.introduction}}
            </div>
            <div style="font-size: x-small;">
                出典：マーベル公式サイト
            </div>
            <div class="text-center mt-2">
                <p class="text-center" ><i class="fas fa-film mr-1"></i>出演作品<i class="fas fa-film ml-1"></i></p>
            </div>
            <ul class="horizontal-list">
                {% for movie  in character.movies.all %}
                    <li class="item align-bottom">
                        <a href="{% url 'app:movie' movie.id %}" class="no-underline movie-link">
                            <img src="{{movie.movie_icon.url}}" class="movie_icon">
                            <p class="text-center text-dark text-wrap mb-0 movie_title " style="height: 30px;">{{movie.title}}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div> <!-- main -->
    </div> <!-- row -->
    
</div>
    




{% endblock %}