{% extends 'app/base.html' %}


{% block content %}
キャラクターページです

<h2>{{character.name}}</h2>
    <img src={{character.character_icon.url}} class="character_icon">
    {{movie_character.character}}

<p>出演作品</p>
    {% for movie in character.movies.all %}
        <a href="{% url 'app:movie' movie.id %}">
            <img src="{{movie.movie_icon.url}}" class="movie_icon_min">
        </a>
    {% endfor %}

<div>
    {% if request.user.is_authenticated %}
    <form action="{% url 'app:toggle_fav_characters' %}" method="post">{% csrf_token %}
        <input type="hidden" name="character_id" value="{{ character.id }}">
        {% if character in user.faved_characters.all %}
            <input type="submit" name="submit" class="fav_button" value="少し距離を置く" /> 
        {% else %}
            <input type="submit" name="submit" class="fav_button" value="好き認定" />
        {% endif %}
    </form>

    {% endif %}
</div>
{% endblock %}