{% extends "app/base.html" %}

{% block title %}
お問い合わせ
{% endblock %}

{% block content %}
{% load static %}

<script src="https://sdk.form.run/js/v2/embed.js" ></script>
<div
  class="formrun-embed"
  data-formrun-form="@marble-cinema"
  data-formrun-redirect="true"
  referrerpolicy="no-referrer-when-downgrade">
</div>

<!-- 
<div class="container form">

  <div class="card card">
    <h4 class="card-header" data-formrun-hide-if-confirm>お問い合わせ</h4>
    <h4 class="card-header" data-formrun-show-if-confirm>確認画面</h4>

    <div class="card-block">
      <form class="formrun" action="#" method="get" data-formrun-confirm>
        <div class="form-group row ml-2 mt-2"
            data-formrun-class-if-success="has-success" data-formrun-class-if-error="has-danger" data-formrun-target="お名前">
          <label class="col-xs-3 col-form-label" for="name">お名前</label>
          <div class="col-xs-9" data-formrun-hide-if-confirm>
            <input type="text" class="form-control" id="name" name="お名前"
                  data-formrun-required data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">
            <div class="text-danger" data-formrun-show-if-error="お名前">お名前を正しく入力してください</div>
          </div>
          <div class="col-xs-9" data-formrun-show-if-confirm>
            <span data-formrun-confirm-value="お名前"></span>
          </div>
        </div>

        <div class="form-group row ml-2 mt-2"
            data-formrun-class-if-success="has-success" data-formrun-class-if-error="has-danger" data-formrun-target="メールアドレス">
          <label class="col-xs-3 col-form-label" for="email">メールアドレス</label>
          <div class="col-xs-9" data-formrun-hide-if-confirm>
            <input class="form-control" id="email" name="メールアドレス"
                  data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"
                  data-formrun-required data-formrun-type="email" data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger">

            <div class="text-danger" data-formrun-show-if-error="メールアドレス">メールアドレスを正しく入力してください</div>
          </div>
          <div class="col-xs-9" data-formrun-show-if-confirm>
            <span data-formrun-confirm-value="メールアドレス"></span>
          </div>
        </div>

        <div class="form-group mx-2 mt-2"
            data-formrun-class-if-success="has-success" data-formrun-class-if-error="has-danger" data-formrun-target="お問い合わせ">
          <label class="form-control-label" for="body">お問い合わせ</label>
          <textarea class="form-control" id="body" name="お問い合わせ"
                    data-formrun-required data-formrun-class-if-success="form-control-success" data-formrun-class-if-error="form-control-danger"></textarea>
        </div>

        
        <div class="_formrun_gotcha">
          <style media="screen">._formrun_gotcha {position:absolute!important;height:1px;width:1px;overflow:hidden;}</style>
          <label for="_formrun_gotcha">If you are a human, ignore this field</label>
          <input type="text" name="_formrun_gotcha" id="_formrun_gotcha" tabindex="-1">
        </div>

        <br>
        <div>
          <a href="javascript:void(0)" class="btn btn-secondary" data-formrun-back-button>戻る</a>
          <button type="submit" class="btn btn-primary pull-xs-right" data-formrun-error-text="未入力の項目があります" data-formrun-send-text="送信する" data-formrun-submitting-text="送信中...">確認</button>
        </div>
      </form>
    </div>
  </div>
  
</div>/.container -->



{% endblock %}