{% extends "app/base.html" %}

{% block title %}
楽しみ方
{% endblock %}

{% block content %}
{% load static %}

<div class="card-body text-center text-dark bg-white">
    <h5 class="pt-2 mb-5">MARBLE(マーブル) = MARVEL(マーベル) + ASSEMBLE(アッセンブル)</h5>
    <div>
        <p>ご訪問いただき、ありがとうございます。</p>
        <p>マーベル映画に関する情報や、マーベル好きが集まるサイトを目指してこの名前をつけました。</p>
        <p>2020年12月に生まれたばかりのサイトですが、徐々にコンテンツを増やしながらマーベル好きな方が楽しめるようなサイトにしていきます😊</p>
        <p>会員登録(無料)をしていただくと、閲覧した映画やお気に入り映画、好きなキャラなどがマイページに登録できるようになります🙌</p>
        <img class="my-3" src="{% static 'svg/thank_you.svg' %}" width="300" height="300">
    </div>    
</div>
{% endblock %}