{% extends 'app/base.html' %}


{% block content %}

{% if category %}
<h2>「{{ category.title }} 」の検索結果</h2>
{% endif %}

{% if character %}
<h2>「{{ character.name }} 」の検索結果</h2>
{% endif %}

<div class="container">

{% include 'app/movies_list.html' %}

    <div class="search">
        <div class="search_tags">
            <!-- <p>キャラクターで探す</p> -->
            {% include 'app/characters_list.html' %}
        </div>

        <div class="search_tags">
            <!-- <p>楽しみ方で探す</p> -->
            {% include 'app/category_list.html' %}
        </div>
    </div>

</div>

{% endblock %}