{% extends 'app/base.html' %}

{% block content %}

{% if category %}
<p class="mt-3">「{{ category.title }} 」の検索結果</p>
<p>該当する作品は{{movies_list.count}}件です🎬</p>
{% endif %}

{% if character %}
<p class="mt-3">「{{ character.name }} 」の検索結果</p>
<p>該当する作品は{{movies_list.count}}件です🎬</p>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible mt-3 " role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </li>
    {% endfor %}
</ul>
<p class="mt-3">該当する作品は{{movies_list.count}}件です🎬</p>
{% endif %}

<div class="index-content">
    <div class="movies_list">
        <p class="text-center">注目の作品</p>
        {% include 'app/movies_list.html' %}
    </div>

    <div class="characters_list">
        <p class="text-center">キャラクターで探す</p>
        {% include 'app/characters_list.html' %}
    </div>

    <div class="category_list">
        <p class="text-center">楽しみ方で探す</p>
        {% include 'app/category_list.html' %}
    </div>
</div>

{% endblock %}