
{% extends 'app/base.html' %}


{% load static %}
{% load bootstrap4 %}

{% block content %}

<div class="card-body">
    <div class="col-sm-5 mx-auto text-center mt-3">
        <h5 class="card-title text-center ">SNSアカウントで登録・ログイン</h5>
        <ul>
            <li><a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'app/google.png' %}"></a></li> 
            <li><div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div></li>
            <li><a href="{% url 'social:begin' 'twitter' %}">Twitterでログイン</a></li>
            <!-- <li><a href="{% url 'social:begin' 'facebook' %}">Facebookでログイン</a></li>  -->
        </ul>
    </div>

    <div class="col-sm-5 mx-auto mt-5">
        <h5 class="card-title text-center ">ユーザー名でログイン</h5>
        <form action="{% url 'app:login' %}" method="POST">
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-dark btn-block">ログイン</button>
            <input type="hidden" name="next" value="{{ next }}"/>
            {% csrf_token %}
        </form>
        <a href="{% url 'app:password_reset' %}">パスワードをお忘れですか?</a>
    </div>

    <div class="col-sm-5 mx-auto mt-5">
        <h5 class="card-title text-center ">初めて登録される方はこちら</h5>
        <div>
            <a href="{% url 'app:user_create' %}" class="btn btn-warning btn-block" >会員登録画面へ</a>
        </div>
    </div>

</div>

{% endblock %}