
{% extends 'app/base.html' %}

{% block content %}

{% load static %}
{% load bootstrap4 %}

<h2>SNSアカウントで登録・ログイン</h2>
<ul>
    <li><a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'app/google.png' %}"></a></li> 
    <li><div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div></li>
    <li><a href="{% url 'social:begin' 'twitter' %}">Twitterでログイン</a></li>
    <!-- <li><a href="{% url 'social:begin' 'facebook' %}">Facebookでログイン</a></li>  -->
</ul>
<div class="card col-md-6">
    <div class="card-body">
        <a href="{% url 'app:user_create' %}" class="btn btn-success btn-lg btn-block" >会員登録</a>
    </div>
</div><a href="{% url 'app:index' %}">戻る</a>

<form class="form-signin" method="POST">{% csrf_token %}
    {% if form.errors %} 
        <p>メールアドレスもしくはパスワードが間違っています</p>
    {% endif %}

    <!-- <h5 class="card-title text-center">ユーザーネームでログイン</h5>
    <label>ユーザーネーム</label>
    <input name="username">
    <br>
    <label>パスワード</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="ログイン">
    {% csrf_token %}
</form> -->

<div class="col-sm-5 mx-auto">
    <h5 class="card-title text-center ">ユーザー名でログイン</h5>
    <form action="{% url 'app:login' %}" method="POST">
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-dark btn-block">ログイン</button>
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
    </form>
    <a href="{% url 'app:password_reset' %}">パスワードをお忘れですか?</a>
</div>
{% endblock %}