{% extends 'app/base.html' %}
{% load static %}

{% block title %}
作品詳細：{{movie.title}}
{% endblock %}

{% block content %}
    <div class="card-body bg-white mb-3">
        <div class="container mt-3 ">
            <div class="row">
                <div class="left col-lg-3">
                    <img src="{% block image %}{{movie.movie_icon.url}}{% endblock %}" class="movie_icon_left">
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'app:toggle_fav_movies' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="movie_id" value="{{ movie.id }}">
                            {% if movie in user.faved_movies.all %}
                                <input type="submit" name="submit" class="fas btn btn-light text-secondary submit_button my-2" value="&#xf004; お気に入りから外す" /> 
                            {% else %}
                                <input type="submit" name="submit" class="fas btn btn-success submit_button my-2" value="&#xf004; お気に入り登録" />
                            {% endif %}
                        </form>
                        <form action="{% url 'app:toggle_watch_movies' %}" method="post" >{% csrf_token %}
                            <input type="hidden" name="movie_id" value="{{ movie.id }}">
                            {% if movie in user.watched_movies.all %}
                                <input type="submit" name="submit" class="fas btn btn-light text-secondary submit_button mb-2" value="&#xf06e; 観たよから外す" /> 
                            {% else %}
                                <input type="submit" name="submit" class="fas btn btn-success submit_button mb-2" value="&#xf06e;  観たよ" />
                            {% endif %}
                        </form>
                    {% else %}
                        <a class="fas btn btn-success submit_button mt-2 " href="{% url 'app:login' %}">&#xf004; お気に入り登録</a>
                        <a class="fas btn btn-success submit_button my-2 " href="{% url 'app:login' %}">&#xf06e; 観たよ</a>
                        <p class="font-small">
                            会員登録(無料)で自分専用の映画録を作成できます
                        </p>
                    {% endif %}
                </div> <!-- left -->
                
                <div class="main col">
                    <h5 class="main_title text-left">
                        {% block MovieTitle %}{{movie.title}}{% endblock %}
                    </h5>
                    <p class="main_text text-left">
                        公開日：{{movie.publication_date}}<br>
                        上映時間：{{movie.screening_time}}分
                    </P>
                    <div class="mt-5">
                        <p class="main_title">あらすじ</p>
                        <div class="sumally mb-2 col-lg-9 text-left">
                            {{movie.sumally}}
                        </div>
                    </div>
                    <!-- <div>
                        <br>
                        <p>解説はこちら<span class="badge badge-danger ml-1">ネタバレあり</span></p> 
                        {{movie.detail|safe}}
                    </div> -->
                    <div class="mt-5 ">
                        <p class="main_title">予告編</p>
                        <div class="trailer col-lg-9">
                            {{movie.trailer_url|safe}}
                        </div>
                    </div>
                    
                    <div class="">
                        <p class="main_title">楽しみ方</p>
                            {% for category in movie.categories.all %}
                                <a href="{% url 'app:search_category' category=category.title %}">
                                    <button type="button" class ="btn btn-light btn-sm"> {{ category.title }}</button>
                                </a>
                            {% endfor %}
                    </div>
            
                    <div class="mt-5">
                        <p class="main_title">出演キャラクター</p>
                        {% for character in movie.characters.all %}
                            <a href="{% url 'app:character' character.id %}">
                                <button type="button" class ="btn btn-light btn-sm">{{character.name}}</button> 
                            </a>
                        {% endfor %}
                    </div>
                    <div class="mt-5">
                        <p class="main_title">動画レンタル</p>
                        <div class="mx-1 my-1" onclick="dataLayer.push({'variable_name2': 'variable_value2'});">
                            {{movie.asp_url_amazon_us|safe}}
                            {{movie.asp_url_amazon_jp|safe}}
                        </div>
                    </div>
                        
                    
                </div> <!-- main -->
            </div>
        </div>

        
        <!-- <div class="accordion accordion-flush my-5 col-10" id="accordionFlushExample">
            <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    あらすじ 
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{{movie.sumally}}</div>
                </div>
            </div>

            <div class="accordion-item mt-2 mb-2">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseOne">
                    解説
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">{{movie.detail|safe}}</div>
                </div>
            </div> 
        </div> -->



{% endblock %}