{% extends 'app/base.html' %}


{% block content %}

<img src={{movie.movie_icon.url}} class="movie_icon">
<P>作品名：{{movie.title}}</P>
<p>公開日：{{movie.publication_date}}</p>
<P>上映時間：{{movie.screening_time}}分</P>
<P>あらすじ：{{movie.sumally}}</P>
<P>解説：{{movie.detail}}</P>

<div>
    {% if request.user.is_authenticated %}
    <form action="{% url 'app:toggle_fav_movies' %}" method="post">{% csrf_token %}
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        {% if movie in user.faved_movies.all %}
            <input type="submit" name="submit" class="fav_button" value="お気に入りから外す" /> 
        {% else %}
            <input type="submit" name="submit" class="fav_button" value=" お気に入り登録" />
        {% endif %}
    </form>

    <form action="{% url 'app:toggle_watch_movies' %}" method="post">{% csrf_token %}
        <input type="hidden" name="movie_id" value="{{ movie.id }}">
        {% if movie in user.watched_movies.all %}
            <input type="submit" name="submit" class="watch_button" value="観たよから外す" /> 
        {% else %}
            <input type="submit" name="submit" class="watch_button" value=" 観たよ" />
        {% endif %}
    </form>


    {% endif %}
</div>

{% endblock %}