{% extends 'app/base.html' %}


{% block content %}


<h2>マイページ</h2>

<!-- 上下左右に規定の余白を設定するbootstrapクラス p-3を指定 -->
<main class="mx-auto" style="width: auto;"> 
    <ul class ="nav nav-tabs border border-0 mb-5">
        <li class="nav-item mr-2">
            <a href="#faved_movies" class="nav-link" data-toggle="tab">お気に入り作品</a>
        </li>
        <li class="nav-item mx-2">
            <a href="#watched_movies" class="nav-link" data-toggle="tab">閲覧済作品</a>
        </li>
        <li class="nav-item mx-2">
            <a href="#faved_characters" class="nav-link" data-toggle="tab">好きなキャラ</a>
        </li>
    </ul>

    <button class="tab-content "> 
            <div id="faved_movies" class="tab-pane active img-fluid">  
            {% for movie in faved_movies_list %}       
                    <a href="{% url 'app:movie' movie.id %}">
                        <img src="{{movie.movie_icon.url}}" alt="" class="movie_icon_min mx-1 mb-2">
                    </a>
            {% endfor %}
            </div>
            <div id="watched_movies" class="tab-pane img-fluid">  
                {% for movie in watched_movies_list %}       
                        <a href="{% url 'app:movie' movie.id %}">
                            <img src="{{movie.movie_icon.url}}" alt="" class="movie_icon_min mx-1 mb-2">
                        </a>
                {% endfor %}
            </div>
            <div id="faved_characters" class="tab-pane img-fluid">  
                {% for character in faved_characters_list %}  
                        <a href="{% url 'app:character' character.id %}">
                            <img src="{{character.character_icon.url}}" alt="" class="character_icon_min mx-1 mb-2">
                        </a>
                {% endfor %}
            </div>
    </button>
</main>

{% endblock %}