{% load static %}
{% load md5url %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% md5url 'app/css/style_test_yt.css' %}">
    <title>CSSテスト</title>
</head>
<body class="test">
    <!-- 🍔 --> 
    <input id="menu" type="checkbox" />
    <label for="menu" class="open">🍔</label>
    <label for="menu" class="back"></label>
    <!-- 🍔 -->
    <main class="test">
        main
        <a href="https://www.amazon.co.jp/gp/product/B08BCSH2RV?ie=UTF8&linkCode=li1&tag=papapp0731-22&linkId=e870adb6289cc04681273907aadf8705&language=ja_JP&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B08BCSH2RV&Format=_SL110_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=papapp0731-22&language=ja_JP" ></a><img src="https://ir-jp.amazon-adsystem.com/e/ir?t=papapp0731-22&language=ja_JP&l=li1&o=9&a=B08BCSH2RV" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </main>
    <aside class="test">
        <!-- 🍔 -->
        <label for="menu" class="close">✕</label>
        <!-- 🍔 -->
        <nav>
            <ul class="test">
                <li>list1</li>
                <li>list2</li>
                <li>list3</li>
                <li>list4</li>
                <li>list5</li>
            </ul>
        </nav>
        <div class="test">
            side footer
        </div>
    </aside>

</body>
</html>