{% load static %}
{% load md5url %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% md5url 'app/css/style.css' %}">
    <title>CSSテスト</title>
</head>
<body class="test">
    <aside class="test">
        <nav>
            <ul class="test">
                <li>list1</li>
                <li>list2</li>
                <li>list3</li>
                <li>list4</li>
                <li>list5</li>
            </ul>
        </nav>
        <div class="test">
            side footer
        </div>
    </aside>
    <main class="test">
        main
    </main>
</body>
</html>