{% extends "app/registration/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.non_field_errors }}
            <table class="table">
                <body>
                    <tr>
                        <td>現在のアイコン:<img src="{{ user.profile_icon_url }}" class="profile_icon"></td>
                    </tr>
                    <tr>
                        <td>アイコン:<input type="file" name="{{form.profile_icon.name}}" accept="image/*" class="form-control" id="id_profile_icon"></td>
                    </tr>
                    <tr>
                        <td>ユーザー名:{{form.username}}</td>
                    </tr>
                    <!-- <tr>
                        <td>メールアドレス:{{form.email}}</td>
                    </tr> -->
                    <!-- {% for field in form %}
                        <tr>
                            <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                            <td>{{ field }} {{ field.errors }}</td>
                        </tr>
                    {% endfor %} -->
                </body>
            </table>
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg" >更新</button>
        </form>
    </div>
</div>

{% endblock %}