/* css練習ここから */

body.test{
    margin: 0;  /* bodyの左側の余白を削除 */
    font-size: 2rem;
    display: flex;  /* mainを横並びに */
    min-height: 100vh;  /* ページビューのサイズMAX */
}

aside.test{
    width: 25%; /* asideの横幅をページの25% */
    min-width: 250px; /*最低限の横幅*/
    display: flex; /* navとdivの親要素。これをつけて子要素のdivにmargin-top:auto;をつけると下に固定できる */
    flex-direction: column; /*縦並び*/
}

ul.test{
    list-style: none; /* リストの点をなくす */
    padding: 0; /* リストの横の隙間をなくす */
    margin: 0;  /* リストの上の隙間をなくす */
}

div.test{
    height: 300px; /* side footerの高さ調整 */
    margin-top: auto;/* side footerをページの下に固定 */
}

main.test{
    width: 700px; /* mainの横幅 */
    margin:0 auto; /* 中央寄せ */
    /* flex: 1; */ /* widthよりもflexが優先される。こちらにするとページ幅で表示される */
}


.open,
.close{
    display: none; /* PCでは非表示設定 */
}
input[type="checkbox"]{ /* checkboxは、display noneだと反応しないため、隠す */
    position: absolute; /*絶対位置を指定。起点は左上*/
    left: -50vw; /* 画面の左上から50vw分左に隠してある */
    /* top: 100px;  leftのマイナスを消してこれをつけると、チェックボックスの有無が確認できる。*/
}
@media screen and (max-width: 1000px){
    main{
        width: 100%;
        padding-top: 50px; /* 🍔にかぶらないようにpaddingを入れている */
    }
    .open,
    .close{
        display: block; /* PCのdisplayプロパティを書き換える目的。値は何でもOK */
    }
    .open{
        position: absolute; /* 🍔を固定*/
        right: 0; /* 右の余白をゼロに */
    }
    aside{
        position: absolute;
        right: -250px; /* asideのmin-widthを250pxにしているため、250ずらせば隠せる */
        height: 100%;
        transition: all 0.2s; /* allは、全てのプロパティの変更に対してアニメーションを設定する。0.3s以内がユーザビリティ○ */
        background: #ffffff; /* 背景色を設定しないとデフォルトは透明 */
    }

    /* ~ は、関節セレクタ。同じ親かつその後の要素のasideに効く */
    /* checkboxにチェックが入っているときに、rightが0になる。asideを右に隠しているため、右から出てくるように見える */
    input[type="checkbox"]:checked ~ aside{
        right: 0;
    } 
    
    /* メニュー横の背景部分を指定 */
    input[type="checkbox"]:checked ~ .back{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5) !important; /* 黒色を0.8の透明に。!importantは、UIビルダーの拡張機能を外すならなしでもOK*/
    }
}


/* css練習ここまで */


ul{
    list-style: none;
}

li > a{
    text-decoration: none;
}

select{
    border: none;
    font-size: small !important;
    color: #4E5B60;
}

.logo{
    height: 40px;
}

.header-menu{
    white-space:nowrap;
}


/* ヘッダー文字色 */
.navbar-nav  > li > a{
    color: #4E5B60 !important;
    /* color: #fafafae0 !important; */
    font-size: 0.9em;
    margin-top: auto;
    margin-bottom: auto;
}


.navbar-nav  > li > a:hover{
    text-decoration: none  !important;
    color:#F9BC50 !important;
}
.navbar-nav  > li > a:focus{
    color:#FAFAFA !important;
}

.profile_icon{
    width: 100%;
    max-width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
}

.movie_title{
    margin-top: 0.25em;
    font-size: 0.5rem;
    text-decoration: none !important;
}

.character_icon {
    width: 100%;
    max-width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
  }

.search_result{
    align:left;
}


/* 検索結果画面に出るアイコン */
.search_character_icon{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.search_character_icon:hover{
    opacity: 0.8;
    transition-duration: 0.3s;
}

/* トップページに出るキャラクター検索 */
.search_character_icon_min{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.search_character_title{
    margin-top: 0.25em;
    font-size: 0.5rem;
}

.search_character_icon_min:hover{
    opacity: 0.8;
    transition-duration: 0.3s;
}


.character_icon_min {
    width: 100%;
    max-width: 90px;
    height: 120px;
    object-fit: cover;
    border-radius: 2px;
}

/* 作品ページのコンテンツ幅 */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    }


.movie_icon_left {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.submit_button{
    width: 100%;
}

.character_icon_left {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.character_title{
    font-size: small; 
    color:rgb(153, 169, 184);
    font-style: italic;
}

.main_title{
    font-weight: bold;
    color: #333333;
}

.main_text{
    font-size: x-small;
    font-weight: bold;
    color: #333333;
}

.sumally{
    font-size: small;
    color: #333333;
}

/* 予告動画のサイズ調整 */
.trailer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

.trailer iframe {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
}


.movie_icon {
    width: 100%;
    max-width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
    background: #000;
}

.movie_icon:hover{
    opacity: 0.8;
    transition-duration: 0.3s;
}

.no-underline{
    text-decoration: none !important;
}

.no-underline:hover{
    text-decoration: none !important;
}


.movie_icon_min{
    width: 100%;
    max-width: 90px;
    height: 120px;
    object-fit: cover;
    border-radius: 2px;
}

.movie{
    width: calc(100%/7);
    float: left;
    height: 250px;
    padding: 0.25rem;
    text-align: center;
}

/* キャラクターの出演作品をリスト表示 */
.movie_list_character_parent{ 
    display: flex;
    flex-wrap: wrap;
}

.movie_list_character{
    height: 150px;
    width: 150px;
}

/* 映画要素の幅を、movie-iconと揃えている。
参考：https://saruwakakun.com/html-css/basic/centering */
.movie-link{
    display:inline-block;
    width: 100%;
    max-width: 150px;
}

/* コンテンツを横スクロールで表示 */
ul.horizontal-list {
	overflow-x: auto;
    white-space: nowrap;
}
li.item {
	display: inline-block;
    width: 60%;
    max-width: 150px;
    height: 250px;
}	


.movie_font{
    font-size: 1rem;
} 

.movie-fav-container{
    display: flex;
}

.movie-watch-container{
    display: flex;
}

.character-fav-container{
    display: flex;
} 

.container{
    width: 100%;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
} 

/* 検索タグをきれいにしたい。 */
.search{
    display:flex;
    flex-flow: column;
    border:2px #ccc solid;
    height:300px;
    margin:0 0 1em;
}

.search_tags{
    padding:1em;
    background-color:#FFCC80;
    margin:0.5em auto;
    width:50%;
}


.character{
    float: left;
    width: 150px;
}

.character_tags{
	left:100px;
}

.category{
    float: left;
    padding-left: 1em;
}

.category_tags{
	left:100px;
} 


/* マイページでタブ切り替えの色変更(bootstrapの色を変更) */
.nav-tabs > li > a{
    border:  none;
    background-color: #E5E5E5;
    color: black !important;
}

.nav-tabs > li > a:hover{
    background-color: #FFCC80 !important;
    /* background-color: #00BC9B !important; */
    border:  none;
    border-radius:5px 5px 0 0 ;
    color:black !important;
}
.nav-tabs > li > a:focus{
    background-color: #FFCC80 !important;
    /* background-color: #00BC9B !important; */
    border:  none;
    border-radius:5px 5px 0 0 ;
    color:black !important;
}



/* 下記はマイページでボタンをクリックしたときの動作 */
/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタンクリック時*/
.mypage_button input:checked {
    /* background: #00BC9B !important; */
    background: #FFCC80 !important;
    color: seashell;
}

/*ボタン装飾*/
.label_profile {
    padding: 10px;
    font-weight: bold;
    cursor :pointer;
}

/*ボタンホバー時*/
.label_profile:hover {
    /* background: #00BC9B; */
    background: #FFCC80;
    color: seashell;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

/* マイページのタブコンテンツ */
.tab-content{
    background-color: transparent;
}


/* プライバシーポリシーページのデザイン */
div.wrapKOPIPE {
    font-family: "游ゴシック" ;
    border-radius: 15px;
    margin: 20px 0;
    background: #eff5f6;
    /* border: 5px solid #e5eeef; */
    padding: 20px;
}


/* 文字サイズの調整 */
.font-small {
    font-size: 0.75rem;
}


/* indexページでレイアウトの設定 */

.index-content{
    display: flex;
    flex-direction: column;
}

.index-list{
    margin-top: 1em;
    float: left;
    box-shadow: 0 3px 5px rgba(197, 197, 197, 0.3);
    border-radius: 5px;
}

.card-body{
    box-shadow: 0 3px 5px rgba(197, 197, 197, 0.3) !important;
    border-radius: 5px;
}

/* jQueryでの作品ページアコーディオン */
.menu__item {
    background: #5200b7;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 1px;
    position: relative;
  }
  .menu__item__link {
    color: #fff;
    display: block;
    padding: 1rem;
  }
   
  .submenu {
    background: #fff;
    display: none;
  }
  .submenu__item {
    border-bottom: 1px solid #5200b7;
    color: #222;
    padding: 1rem;
  }

/* マイページのリンク色 */
.list-group-item > a{
    color: #4E5B60 !important;
}

/* indexのマイページナビゲーションのクリック時の色 */
.dropdown-item:active{
    color: #4E5B60 !important;
    background-color: #FFCC80 !important;
}

/* バーガーメニューのアイコン色変更 */

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78,91,96,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

/* コンテンツ部分 */
.wrapper{
    background-color: #FAFAFA;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 50px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

/* フッター */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    /* background-color: #4E5B60; */
    font-size: 00.5em;
}


.form{
    padding: 50px 0 100px;
}

/* 404ページデザイン */

.sign.error-page-wrapper .sign-container {
    width: 450px;
    height: 415px;
    margin: 0 auto;
    position: relative;
    transform: rotate(-20deg);
    text-indent: -20px;
}
/* @media screen and (max-width: 1265px)
.sign.error-page-wrapper .sign-container {
    width: 280px;
    top: 0px !important;
} */