ul{
    list-style: none;
}

.header-menu{
    white-space:nowrap;
}

.profile_icon{
    width: 100%;
    max-width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
}

.character_icon {
    width: 100%;
    max-width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
  }

  .character_icon_min {
    width: 100%;
    max-width: 90px;
    height: 120px;
    object-fit: cover;
    border-radius: 2px;
  }


.movie_icon {
    width: 100%;
    max-width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 2px;
  }

.movie_icon_min{
    width: 100%;
    max-width: 90px;
    height: 120px;
    object-fit: cover;
    border-radius: 2px;
}

.movie{
    width: calc(100%/7);
    float: left;
    padding: 5px;
    margin-bottom: 15px;
}

/* 
.movie_font{
    font-size: 1rem;
} */

/* 
.movie-fav-container{
    display: flex;
}

.movie-watch-container{
    display: flex;
}

.character-fav-container{
    display: flex;
} */

.character{
    float: left;
    padding-left: 1em;
}

.character_tags{
    position:absolute;
	left:100px;
	bottom:10px;
}

/* マイページでタブ切り替えの色変更(bootstrapの色を変更) */
.nav-tabs > li > a{
    border:  none;
    background-color: #E5E5E5;
    color: black !important;
}
.nav-tabs > li > a:hover{
    background-color: #00BC9B !important;
    border:  none;
    border-radius: 0;
    color:#fff !important;
}
.nav-tabs > li > a:focus{
    background-color: #00BC9B !important;
    border:  none;
    border-radius: 0;
    color:#fff !important;
}



/* 下記はマイページでボタンをクリックしたときの動作 */
/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタンクリック時 →思ったように反応しない*/
.mypage_button input:checked + label {
    background: #00BC9B;
    color: seashell;
}

/*ボタン装飾*/
label {
    padding: 10px;
    font-weight: bold;
    cursor :pointer;
}

/*ボタンホバー時*/
label:hover {
    background: #00BC9B;
    color: seashell;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
