
/* スタイルデザインをリセット（変な空白や残念な見た目を避ける目的) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fafafa;
    list-style: none;
    text-decoration: none;
    }

/* ヘッダー設定 */
.header_bg{
    background: #323232;
    width: 100%;
    height: 80px;
}

.header_contents{
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /*上下中央寄せ*/
}

.logo{
    height: 40px;
    margin: 0 0 0 40px;
}

/* ヘッダーナビゲーション */

.header_nav_lists{
    display: flex;
}

.header_nav_lists li {
    margin: 0 40px 0 0;
}

.nav_link {
    font-size: 18px;
}

/* ハンバーガーメニュー */

.responsive_btn{  /*この大きさを変更すればハンバーガーボタンを自由に帰れる*/
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 40px 0 0 ;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.menu_line{
    background: #fafafa;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    margin: 4px 0;
}

/* レスポンシブスタイル */
@media screen and(max-width:768px){
    .responsive_btn{
        display: flex;
    }

    .header_bg{
        position: relative;
    }

    .header_nav{
        background: #323232;
        width: 100px;
        height: 100vh;
        padding: 80px 0 0 0 ;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 0.25s;
    }

    .header_nav_lists{
        display: block;
        text-align: center;
    }

    .header_nav_lists li{
        margin: 0 0 40px;
        text-align: center;
    }

    .nav_link{
        font-size: 20px;
    }

}

/* js function "menuToggle" starting only */
.menu_active {
    right: 0;
}